li{
    text-decoration: none;
    list-style: none;
}
.Main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #6F6AF7;
    padding: 20px;
    font-size: large;
    color: white;
    align-items: center;
    font-family: 'Open Sans',sans-serif;
    height: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}
#one{
    font-family: 'Delius Unicase', cursive;
    font-size: 2rem;
    font-weight: 700;
    /* line-height: 79px; */
    letter-spacing: 0em;
    text-align: left;
    margin-left: 2rem;
}
#two li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;

}
#two{
    width: 70%;
}
#search{
    text-decoration: none;
    border-style: none;
    border-radius: 20px;
    padding: 0.3rem 0.5rem 0rem 0.5rem;
    touch-action: none;
}
.fa-search{
    color:rgb(141, 137, 137)
}
#searchbox{
   background-color: white;
    border-radius:20px;
    height: 1.5rem;
    padding: 5px 10px 5px 10px;
    width: 200px;
}

.fa-bars{
    font-size: 30px;
}
#three{
    margin-right: 2rem;
}